// Reset the padding and margin
*{
    margin: 0;
    padding: 0;
}
.first{
    float: left;
    width: 500px;
    height: 75px;
    margin-right: 8px;
    background-color: #c4c4;
    padding-left: 10px;
    padding-top: 10px;

}

.second {
    width: 500px;
    height: 75px;
    margin-left: 510px;
    background-color: #c4c4;
    padding-left: 10px;
    padding-top: 10px;
}
